*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: cadetblue;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}
.searchInput {
    background-color: #eaeaea;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
}
#moviesElement {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 16px;
    gap: 24px;
    background-color: #eaeaea;
}
.movie {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    padding: 16px;
}
.movie img{
    width: 100%;
    height: 70%;
    object-fit:fill;
}
.pagination {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    background-color: cadetblue;

}
#prev, #next {
    background-color: gray;
    padding: 8px 16px;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
#prev:hover, #next:hover {
    background-color: black;
    transition: all 1s;
    cursor: pointer;
}
#title {
    font-size: x-large;
    cursor: pointer;
    color: white;
}
#currentPage {
    color: white;
    font-size: 1.5em;
}
